<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Digite seu nome abaixo</h1>
  <form action="/submit" method="post">
    <input type="text" name="fName" placeholder="Digite seu nome">
    <input type="text" name="lName" placeholder="Digite seu sobrenome">
    <input type="submit" value="OK">
  </form>


</body>

</html>